---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Graphics from '../components/Graphics.astro';
---

<Layout title="Welcome to snap!">
	<Navbar />
	<div class="items-center flex space-x-8 h-3/4 relative">
		<div class="basis-1/12"></div>
		<Hero />
		<div class="basis-1/12"></div>
		<Graphics />
		<div class="basis-1/12"></div>
	</div>
</Layout>

