---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to snap!">
	<Navbar />
	<main>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quia maxime unde. Deleniti accusamus eos veniam eveniet facere odit fugiat amet voluptas ipsam! Dignissimos odit molestiae deleniti qui veniam eum.
	</main>
</Layout>

