---

---

<a href="#" class="bg-black inline-block p-4 font-bold border-2 w-1/4 text-center border-black border-solid text-white rounded-2xl hover:bg-slate-50 hover:border-2 hover:border-solid hover:border-black hover:text-black">
    Learn more
</a>