---

---

<a href="#" class="mb-10 lg:mb-10 bg-black inline-block text-sm lg:text-lg p-4 font-bold border-2 text-center border-black border-solid text-white rounded-2xl hover:bg-slate-50 hover:border-2 hover:border-solid hover:border-black hover:text-black">
    Learn more
</a>