---
import Button from '../components/Button.astro'
import Partners from './Partners.astro'
---

<main class="lg:basis-5/12 lg:pr-10 order-2 lg:order-1 text-center lg:text-left mt-20 mx-auto">
    <h1 class="lg:text-8xl text-6xl font-bold mb-8 lg:mb-16"><div class="inline-block lg:block">Make</div> remote work</h1>
    <p class="text-stone-500 text-2xl mb-8 lg:mb-16">Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
    <Button/>
    <Partners />
</main>