---
import Button from '../components/Button.astro'
import Partners from './Partners.astro'
---

<main class="basis-5/12 pr-10">
    <h1 class="text-8xl font-bold mb-16"><div>Make</div> remote work</h1>
    <p class="text-stone-500 text-2xl mb-16">Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
    <Button/>
    <Partners />
</main>