---
import logo from '../../public/images/logo.svg'
import Navigation from './Navigation.astro'
import Login from './Login.astro'
import BurgerMenu from './BurgerMenu.astro'
---

<nav class="flex justify-between items-center p-4 text-stone-500">
    <div class="flex items-center space-x-8">
        <a href="#"><img src={logo.src} alt="Logo snap" class="h-8 w-auto mr-10"></a>
      <div class="hidden lg:block">
        <Navigation />
      </div>
    </div>
    <div class="hidden lg:block">
      <Login />
    </div>
    <BurgerMenu />
</nav>