---
import DropdownMenu from '../components/DropdownMenu.jsx';
import iconTodo from '../../public/images/icon-todo.svg'
import iconCalendar from '../../public/images/icon-calendar.svg'
import iconReminders from '../../public/images/icon-reminders.svg'
import iconPlanning from '../../public/images/icon-planning.svg'

const featuresItems = [
    { name: 'Todo List', link: '#', icon: iconTodo.src },
    { name: 'Calendar', link: '#', icon: iconCalendar.src },
    { name: 'Reminders', link: '#', icon: iconReminders.src },
    { name: 'Planning', link: '#', icon: iconPlanning.src },
];
const companyItems = [
    { name: 'History', link: '#'},
    { name: 'Our Team', link: '#' },
    { name: 'Blog', link: '#' },
];
---



<nav class="inline-block">
    
    <ul class="flex space-x-8">
         <li>
            <DropdownMenu title="Features" items={featuresItems} />
        </li>
        <li>
            <DropdownMenu title="Company" items={companyItems} />
        </li>
        <li><a href="#" class="hover:text-black">Careers</a></li>
        <li><a href="#" class="hover:text-black">About</a></li>
    </ul>
</nav>
