---
import databiz from '../../public/images/client-databiz.svg'
import audiophile from '../../public/images/client-audiophile.svg'
import meet from '../../public/images/client-meet.svg'
import maker from '../../public/images/client-maker.svg'
---

<div class="flex space-x-14 absolute bottom-0 items-center">
    <div class="basis-1/4"><img src={databiz.src} alt="Databiz" class="h-fit"></div>
    <div class="basis-1/4"><img src={audiophile.src} alt="Audiophile" class="h-fit"></div>
    <div class="basis-1/4"><img src={meet.src} alt="Meet" class="h-fit"></div>
    <div class="basis-1/4"><img src={maker.src} alt="Maker" class="h-fit"></div>
</div>