---
import databiz from '../../public/images/client-databiz.svg'
import audiophile from '../../public/images/client-audiophile.svg'
import meet from '../../public/images/client-meet.svg'
import maker from '../../public/images/client-maker.svg'
---

<div class="flex min-[1640px]:space-x-14 min-[1640px]:absolute bottom-0 items-center justify-center mb-10 min-[1640px]:mb-0">
    <div class="basis-1/4 flex items-center justify-center"><img src={databiz.src} alt="Databiz" class="h-fit"></div>
    <div class="basis-1/4 flex items-center justify-center"><img src={audiophile.src} alt="Audiophile" class="h-fit"></div>
    <div class="basis-1/4 flex items-center justify-center"><img src={meet.src} alt="Meet" class="h-fit"></div>
    <div class="basis-1/4 flex items-center justify-center"><img src={maker.src} alt="Maker" class="h-fit"></div>
</div>